{% extends "base.html" %}

{% block content %}
  <h1> Hello, {{ current_user.username }}!</h1>
{% if form %}
  <form id="postForm" action="" method="post">
  {{ form.hidden_tag() }}
  <div>
    <p>
      {{ form.post.label }}
      {{ form.post(cols=32, rows=4) }}<br>
      {% for error in form.post.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
      <b>{{ form.submit() }}</b>
    </p>
  </div>
</form>
{% endif %}


  {% for post in posts %}
    {% include '_post.html' %}
  {% endfor %}
<hr>

{% endblock %}
